<a href="https://colab.research.google.com/github/owes295/python-besic/blob/main/day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day-1

In [ ]:
print("hello world")

hello world

In [ ]:
a=3
b=2
print(a+b)

5

In [ ]:
a=20
b=40
print(a+b)

60

In [ ]:
c=3
b=10
print(c+b)

13

In [ ]:
a=3
b=5
c=2
print(a+b+c)

10

In [ ]:
print("add="), a

add=

(None, 3)

In [ ]:
print("add=",a+b+c)
print("sub",a-b-c)

print("mul",a*b*c)

add= 10
sub -4
mul 30

In [ ]:
a=15
b=5
b=str(a)
print(b)
print(type(a))
print(type(b))

15
<class 'int'>
<class 'str'>

In [ ]:
print("hello  hello  hello")

hello  hello  hello

In [ ]:
a="hello "
b=5
print(a *5)

hello hello hello hello hello

In [ ]:
a=int(input("enter the integer value"))
print(a)

enter the integer value12
12

In [ ]:
c=int(input("eneter the integer:"))
print(a)
b=float(input("enter float value:"))
print(b)
c=input("enter the string value")
print(c)
print(type(c))

eneter the integer:12
12
enter float value:450
450.0
enter the string value46
46
<class 'str'>

In [ ]:
first_name =int(input())
second_name =int(input())
print(str(first_name)+" "+str(second_name))

12
15
12 15

In [ ]:
a=("hi ")
b=10
print(a*b)

hi hi hi hi hi hi hi hi hi hi

In [ ]:
first_name=input()
repeated=int(input())
print(first_name*repeated)

hello motii
20
hello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motiihello motii

In [ ]:
a=input()
b=input()
print(a+b)

owes
20
owes20

In [ ]:
a=input()
b:int(input())
print(a+"is number"+str(b)+"years old")

20
22
20is number20years old

i am studying <college name> collge and i am from <branch name> branch and now i am in <year name

In [ ]:
a=input()
b=int(input())
print(a + " is " + str(b)+ " year old")

owes
19
owes is 19 year old

In [ ]:
college_name = input("Enter your college name: ")
branch_name = input("Enter your branch name: ")
year_name = input("Enter your year: ")

print(f"I am studying {college_name} college and I am from {branch_name} branch and now I am in {year_name} year")

Enter your college name: KLE BK BCA COLLEGE
Enter your branch name: BCA
Enter your year: 2025
I am studying KLE BK BCA COLLEGE college and I am from BCA branch and now I am in 2025 year

day 2 start

In [ ]:
#addition
a=3
b=17
print("addition:",a+b)
print("sub:",a-b)
print("multiply:",a*b)
print("divsion:",a/b)
print("modulus:",a%b)
print("exponent:",a**b)
print("floor division:",a//b)

addition: 20
sub: -14
multiply: 51
divsion: 0.17647058823529413
modulus: 3
exponent: 129140163
floor division: 0

In [ ]:
#addition
a=2
b=17
print("addition:",a+b)
print("sub:",a-b)
print("multiply:",a*b)
print("divsion:",a/b)
print("modulus:",a%b)
print("exponent:",a**b)
print("floor division:",a//b)

addition: 19
sub: -15
multiply: 34
divsion: 0.11764705882352941
modulus: 2
exponent: 131072
floor division: 0

In [ ]:
my_name= "owes"
print(my_name[0])

o

In [ ]:
my_name="ali"
print(len(my_name))

3

In [ ]:
a=15
print(len(str(a)))

2

In [ ]:
C_N="geek for geeks"

print(C_N[0:4])

print(C_N[5:8])

print(C_N[9:14])

geek
for
geeks

In [ ]:
C_N="owes abdulla ali"

print(C_N[0:4])

print(C_N[5:12])

print(C_N[13:16])

owes
abdulla
ali

In [ ]:
company_name = input("enter the company name")
print(company_name)

find_length_of_company_name=len(company_name)
print("*" * find_length_of_company_name)
print("*" +str(find_length_of_company_name))

enter the company name22
22
**
*2

In [ ]:
company_name = input("sara traders")
print(company_name)

find_length_of_company_name=len(company_name)
print("*" * find_length_of_company_name)

sara traders2222222
2222222
*******

In [ ]:
c_name="geek for geeks"
a=len(c_name)
b=a/2
c=int(b)
print(c_name[c])

r

In [ ]:
company_name = input("enter the company name")
print(company_name)

#find the length od the company
find_length_of_company_name=len(company_name)
print("string legth is",find_length_of_company_name)

#find the quo of company
find_quofient=find_length_of_company_name/2
print("quofient is",find_quofient)

#convert float to int using int
convert_int=int(find_quofient)
print("convert_int",convert_int)

#print the pos of the character
print(company_name[convert_int])

enter the company nameali
ali
string legth is 3
quofient is 1.5
convert_int 1
l

In [ ]:
name=input()
print("***"+name+"***")

owes
***owes***

In [ ]:
a = 21
b = str(a)
f_c = int(b[0]) - 2
l_c = int(b[-1]) - 1
print(l_c+ f_c)

0

In [ ]:
print("* *")
print("* *")

* *
* *

In [ ]:
print("*")
print("* *")
print("* * *")

*
* *
* * *

In [ ]:
print("* * *")
print("* * *")

* * *
* * *

In [ ]:
a="owes"
b=len(a)
c=b-2
print(c)

2

In [ ]:
a="Anusha"
b=len(a)
print(a[0]+"*"*(b-2)+a[-1])

A****a

In [ ]:
a="owes"
b=len(a)
print(a[0]+"*"*(b-2)+a[-1])

o**s

In [ ]:
a=input()
find_length=len(a)
print(find_length)
print(find_length-3)

abdulla
7
4

In [ ]:
user_input=input()
first_char =int(user_input[0])
second_char =int(user_input[1])
third_char =int(user_input[2])
print(first_char+second_char+third_char)

325
10

In [ ]:
name=input("emter the name=")
num=int(input())
print(name[num:len(name)])

emter the name=owesrazamakandar
8
makandar

In [ ]:
user_name = input()
starting_pos = int(input())
print(user_name[starting_pos:])
print(user_name[starting_pos])

geek for geeks
2
ek for geeks
e

In [ ]:
user_name = input()
starting_pos = int(input())
print(user_name[starting_pos:])
print(user_name[starting_pos:])

owes
2
es
es

In [ ]:
a=10
b=11
print(a<b)
print(a<=b)

print(a>b)
print(a>=b)

print(a==b)
print(a!=b)

True
True
False
False
False
True

In [ ]:
a=10
b=20
print(a<=b)

True

In [ ]:
a="owes@1091"
b=len(a)
c=b>8
print("is "+str(c)+" valid password ")

is True valid password

In [ ]:
password=input()
lenght_of_password=len(password)
is_output = lenght_of_password>8
print("is "+str(is_output)+" valid password")

owes@1091
is True valid password

In [ ]:
first_name = input()
second_name = input()
find_len_of_second_string=len(second_name)
print("lenght of second string:",find_len_of_second_string)
take_some_part_from_first=first_name[0:find_len_of_second_string]
print("part of string is :",take_some_part_from_first)
print(second_name==take_some_part_from_first)

geek for geeks
geekn
lenght of second string: 5
part of string is : geek
False

In [ ]:
a=(input("enter the name"))
print(a)
f_c=a[0]
l_c=a[-1]
print(f_c==l_c)

enter the nameowes
owes
False

In [ ]:
# Read input values
M = int(input()) # Maths marks
P = int(input()) # Physics marks
C = int(input()) # Chemistry marks
# Check conditions
if (M >= 60 and P >= 50 and C >= 45 and (M + P + C) >= 180) or \
    (M + P >= 120) or \
    (C + P >= 110):
    print("Eligible")
else:
    print("Not Eligible")

72
65
51
Eligible

day 3 start

In [ ]:
if 10 >5:
  print("10 is greter that 5")
  print("hi")
  print("program ended")

10 is greter that 5
hi
program ended

In [ ]:
age=18
e_v="elgeble for vote"
n_e_v="not elegble for vote"
if age>=18:
  print(e_v)
  print("program ended")
else:
  print(n_e_v)
  print("program ended")

elgeble for vote
program ended

In [ ]:
x = 3
if x == 4:
  print("x is 4")
else:
  print("x is not 4")
  print("program ended")

x is not 4
program ended

In [ ]:
x = 5
if x == 5:
  print("x is 5")
else:
  print("x is not 5")
  print("program ended")

x is 5

In [ ]:
temp = int(input("Enter the temp: "))

if 15 <= temp <= 40:
  print("can go for a walk")
else:
  print("cannot go for a walk")

Enter the temp: 42
cannot go for a walk

In [ ]:
temp = int(input("Enter the temp: "))

if 15 <= temp <= 40:
  print("can go for a walk")
else:
  print("cannot go for a walk")
  print("program ended")

Enter the temp: 15
can go for a walk

In [ ]:
temp=int(input("enter the temp:"))
if 15<=temp<=40:
  print("can go for walk")
else:
  print("cannot go for walk")
  print("program ended")

enter the temp:30
can go for walk

In [ ]:
a=10
b=20
if a<b:
  print("a is less then b")
else:
  print("a is greater then b")

a is less then b

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
if a>b:
  print("a is greater then b")
else:
  print("a is less then b")

enter the number20
enter the number10
a is greater then b

In [ ]:
a=int(input("enter the number"))

if a>=0:
  print("a is positive ")
else:
  print("a is negative ")

enter the number-1
a is negative

In [ ]:
a = 4
b = 6

if ((a==6 and b==6)or (a+b==6)or (a-b==6)or (a-b)):

   print("lucky")
else:
   print("unlucky")

lucky

In [ ]:
N = int(input("Enter the number of sides: "))

if N == 3:
  print("Triangle")
elif N == 4:
  print("Quadrilateral")
elif N == 5:
  print("Pentagon")
else:
  print("Polygon name not commonly known for this number of sides.")

Enter the number of sides: 4
Quadrilateral

In [ ]:
a=10
b=20
c=30
if a>b and a>C:
  print("greter then b and c")
elif b>a and b>c:
  print("b is greater then a and c")
else:
  print("c is greater then a and b")

c is greater then a and b

In [ ]:
a=80
b=40
c=50
if a>b and a>c:
  print("a bigger then b and c")
elif b>a and b>c:
  print("b is bigger then a AND C")
else:
  print("c is bigger then a and b")

a bigger then b and c

In [ ]:
H = "Y"
I = "N"
if H == "Y":
  print("Allowed to Exam-Has Hall ticket")
elif H != "Y" and I == "Y":
  print("Allowed to Exam - Has no hall ticket")
else:
  print("not alowed to exam")

Allowed to Exam-Has Hall ticket

In [ ]:
units = int(input("Enter the number of units consumed: "))

total_charge = 0

if units <= 50:
  total_charge = units * 2
elif units <= 150:
  total_charge = (50 * 2) + ((units - 50) * 3)
elif units <= 250:
  total_charge = (50 * 2) + (100 * 3) + ((units - 150) * 5)
else:
  total_charge = (50 * 2) + (100 * 3) + (100 * 5) + ((units - 250) * 8)

print("Total electricity charge:", total_charge)

Enter the number of units consumed: 200
Total electricity charge: 650

In [ ]:
bill_amount =int(input())

if (bill_amount<=50):
  total = (bill_amount*2)
  sub_charges=total*0.2
  print(int(total+sub_charges))

elif(bill_amount<=150):
    total = (50*2)+(bill_amount-50)*3
    sub_charges=total*0.2
    print(int(total+sub_charges))

elif(bill_amount<=250):
    total = (50*2)+(100*3)+(bill_amount-150)*5
    sub_charges=total*0.2
    print(int(total+sub_charges))

elif(bill_amount>250):
    total = (50*2)+(100*3)+(100*5)+(bill_amount-250)*8
    sub_charges=total*0.2
    print(total+sub_charges)

200
780

In [ ]:
marks = int(input("Enter the student's marks: "))

if marks > 85:
  grade = "A"
elif marks > 70 and marks <= 85:
  grade = "B"
elif marks >= 60 and marks <= 70:
  grade = "C"
else:
  grade = "F"

print(grade)

Enter the student's marks: 85
B

In [ ]:
time = int(input("Enter the time: "))
if time < 1200:
  print("Good Morning")
elif time < 1800: # Assuming military time for afternoon
  print("Good Afternoon")
else:
  print("Good Evening")

Enter the time: 1200
Good Afternoon

In [ ]:
a="+"
b=10
c=4
if a=="+":
  print(b+c)
elif a=="-":
  print(b-c)
elif a=="*":
  print(b*c)

14

In [ ]:
a="/"
b=101
c=41
if a=="+":
  print(b+c)
elif a=="-":
  print(b-c)
elif a=="*":
  print(b*c)
elif a=="/":
  print(b/c)

2.4634146341463414

In [ ]:
a=input()
b=a[-1]
c=a[0:len(a)-1]
d=int(c)
if(b=="T"):
  print(d*10)
elif(b=="H"):
  print(d*100)
elif(b=="Z"):
  print(d*0)

34H
3400

In [ ]:
a=(input("enter the string="))
b=a[0]
c=a[1]
d=int(b)
e=int(c)
print(d+e)

enter the string=25
7

In [ ]:
a="696"
b=a[0]
c=a[1]
d=a[2]
print(int(b)+int(c)+int(d))

21

In [ ]:
day_number = int(input("Enter the day number (1-7): "))

if day_number == 1:
  print("Monday")
elif day_number == 2:
  print("Tuesday")
elif day_number == 3:
  print("Wednesday")
elif day_number == 4:
  print("Thursday")
elif day_number == 5:
  print("Friday")
elif day_number == 6:
  print("Saturday")
elif day_number == 7:
  print("Sunday")
else:
  print("Invalid day number. Please enter a number between 1 and 7.")

Enter the day number (1-7): 5
Friday

In [ ]:
five_rupee_notes = int(input("Enter the number of 5 rupee notes: "))
one_rupee_notes = int(input("Enter the number of 1 rupee notes: "))

total_value = (five_rupee_notes * 5) + (one_rupee_notes * 1)

print(f"Total value: {total_value}")

Enter the number of 5 rupee notes: 10000
Enter the number of 1 rupee notes: 60
Total value: 50060

In [ ]:
a=int(input("enter the number="))
b=a/5
c=a%5
print("5:",int(b))
print("1:",c)

enter the number=57
5: 11
1: 2

In [ ]:
def two_sum(nums, target):
    # Dictionary to store number and its index
    seen = {}

    for i, num in enumerate(nums):
        # Calculate the required number
        complement = target - num

        # If complement is already in dictionary, we found the pair
        if complement in seen:
            return [seen[complement], i]

        # Otherwise store the current number with its index
        seen[num] = i


#  Example usage
nums = [2, 7, 11, 15]
target = 9
print(two_sum(nums, target))   # Output: [0, 1]

[0, 1]

In [ ]:
def two_sum(nums, target):
    # Check every pair
    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
            if nums[i] + nums[j] == target:
                return [i, j]

#  Example usage
nums = [2, 7, 11, 15]
target = 9
print(two_sum(nums, target))   # Output: [0, 1]

[0, 1]

In [ ]:
import random

num = random.randint(0, 1)   # Generates a random number that's either 0 or 1

if num > 0.5:
  print('Heads')
else:
  print('Tails')

Heads

In [ ]:
# Write code below 
grade=int(input("enter the grade="))
if grade>=55:
 print('You passed')
else:
 print('You failed')

enter the grade=35
You failed

In [ ]:
# ph_levels.py

# Ask the user for a pH value
ph = float(input("Enter a pH value (0-14): "))

if ph > 7:
    print("Basic")
elif ph < 7:
    print("Acidic")
else:
    print("Neutral")

Enter a pH value (0-14): 7
Neutral

In [ ]:
# magic8.py
import random

# List of possible Magic 8 Ball answers
answers = [
    "Yes - definitely.",
    "It is decidedly so.",
    "Without a doubt.",
    "Reply hazy, try again.",
    "Ask again later.",
    "Better not tell you now.",
    "My sources say no.",
    "Outlook not so good.",
    "Very doubtful."
]

# Ask the user for a Yes/No question
question = input("Ask a Yes/No question: ")

# Pick a random answer
response = random.choice(answers)

# Show the Magic 8 Ball's response
print(" Magic 8 Ball says:", response)

In [ ]:
# the_cyclone.py

# Ask the user for their height and credits
height = int(input("Enter your height in cm: "))
credits = int(input("Enter how many credits you have: "))

# Rules for the ride
if height >= 137 and credits >= 10:
    print("Enjoy the ride!")
elif credits >= 10 and height < 137:
    print("You are not tall enough to ride.")
elif height >= 137 and credits < 10:
    print("You don't have enough credits.")
else:
    print("You have not met either requirement.")

In [ ]:
# sorting_hat.py

# Initialize house points
gryffindor = 0
ravenclaw = 0
hufflepuff = 0
slytherin = 0

# Q1
print("Q1) Do you like Dawn or Dusk?")
print("  1) Dawn")
print("  2) Dusk")
answer = int(input("Enter your answer (1-2): "))

if answer == 1:
    gryffindor += 1
    ravenclaw += 1
elif answer == 2:
    hufflepuff += 1
    slytherin += 1
else:
    print("Wrong input.")

# Q2
print("\nQ2) When Im dead, I want people to remember me as:")
print("  1) The Good")
print("  2) The Great")
print("  3) The Wise")
print("  4) The Bold")
answer = int(input("Enter your answer (1-4): "))

if answer == 1:
    hufflepuff += 2
elif answer == 2:
    slytherin += 2
elif answer == 3:
    ravenclaw += 2
elif answer == 4:
    gryffindor += 2
else:
    print("Wrong input.")

# Q3
print("\nQ3) Which kind of instrument most pleases your ear?")
print("  1) The violin")
print("  2) The trumpet")
print("  3) The piano")
print("  4) The drum")
answer = int(input("Enter your answer (1-4): "))

if answer == 1:
    slytherin += 4
elif answer == 2:
    hufflepuff += 4
elif answer == 3:
    ravenclaw += 4
elif answer == 4:
    gryffindor += 4
else:
    print("Wrong input.")

# Print scores
print("\nFinal Scores:")
print("Gryffindor:", gryffindor)
print("Ravenclaw:", ravenclaw)
print("Hufflepuff:", hufflepuff)
print("Slytherin:", slytherin)

# Bonus: Find the house with the most points
houses = {
    "Gryffindor": gryffindor,
    "Ravenclaw": ravenclaw,
    "Hufflepuff": hufflepuff,
    "Slytherin": slytherin
}

max_house = max(houses, key=houses.get)
print("\n The Sorting Hat says:", max_house, "!!")

In [ ]:
# Initialize house points
gryffindor = 0
ravenclaw = 0
hufflepuff = 0
slytherin = 0

print("Q1) Do you like Dawn or Dusk?")
print("  1) Dawn")
print("  2) Dusk")
answer = int(input("Enter your answer (1-2): "))

if answer == 1:
    gryffindor += 1
    ravenclaw += 1
elif answer == 2:
    hufflepuff += 1
    slytherin += 1
else:
    print("Wrong input.")

Q1) Do you like Dawn or Dusk?
  1) Dawn
  2) Dusk
Enter your answer (1-2): 2

In [ ]:


# Q2
print("\nQ2) When Im dead, I want people to remember me as:")
print("  1) The Good")
print("  2) The Great")
print("  3) The Wise")
print("  4) The Bold")
answer = int(input("Enter your answer (1-4): "))

if answer == 1:
    hufflepuff += 2
elif answer == 2:
    slytherin += 2
elif answer == 3:
    ravenclaw += 2
elif answer == 4:
    gryffindor += 2
else:
    print("Wrong input.")

Q2) When Im dead, I want people to remember me as:
  1) The Good
  2) The Great
  3) The Wise
  4) The Bold
Enter your answer (1-4): 7
Wrong input.

In [ ]:
print('BANK OF CODDEX')

pin = int(input('Enter your PIN: '))

while pin != 1234:
    pin = int(input('Incorrect PIN. Enter your PIN again: '))

if pin == 1234:
    print('PIN accepted!')

BANK OF CODDEX
Enter your PIN: 1234
PIN accepted!

In [ ]:

guess=0
tries=0

while guess != 6 and tries <5:
  guess = int(input("Guess the number:  "))

print("You got it!")

Guess the number:  5
Guess the number:  1
Guess the number:  3
Guess the number:  6
You got it!

In [ ]:
guess = 0
tries = 0   # count how many times the player has guessed
limit = 3   # maximum number of tries

while guess != 6 and tries < limit:
    guess = int(input("Guess the number: "))
    tries += 1   # add 1 after each try

if guess == 6:
    print("You got it!")
else:
    print("Out of tries! The number was 6.")

Guess the number: 6
You got it!

Day-4

In [ ]:
a= "owesraza "
n=2
print(a *n)

owesraza owesraza

In [ ]:
a=input(input("enter the string:"))
n=int(input("enter the integer:"))
print((a+"") * n)

enter the string:23
2323
enter the integer:23
2323232323232323232323232323232323232323232323

In [ ]:
a=int(input("enter the number"))
b=str(a)
print(b[1])

enter the number45
5

In [ ]:
n1=int(input("enter the number"))
n2=int(input("enter the number"))
print(n1-n2)

enter the number100
enter the number25
75

In [ ]:
month_number = int(input("Enter the month number (1-12): "))

if month_number == 1:
  print("jan")
elif month_number == 2:
  print("feb")
elif month_number == 3:
  print("mar")
elif month_number == 4:
  print("apr")
elif month_number == 5:
  print("may")
elif month_number == 6:
  print("jun")
elif month_number == 7:
  print("july")
elif month_number == 8:
  print("aug")
elif month_number == 9:
  print("sep")
elif month_number == 10:
  print("oct")
elif month_number == 11:
  print("nov")
elif month_number == 12:
  print("dec")
else:
  print("Invalid month_number. Please enter a number between 1 and 12.")

Enter the month number (1-12): 12
dec

In [ ]:
a= int(input("Enter the number: "))
b=int(input("Enter the number: "))
c=int(input("Enter the number: "))

if a==b and b==c and c==a:
  print("Equilateral")
elif a==b or b==c or c==a:
  print("Isosceles")
else:
  print("Scalene")

Enter the number: 10
Enter the number: 20
Enter the number: 30
Scalene

In [ ]:
days=int(input())
if (days>365):
  find_years= int(days/365)
  find_remaing_days=(days%365)
  find_weeks=int(find_remaing_days/7)
  find_days= find_remaing_days%7
  print(str(find_years)+"years "+str(find_weeks)+"weeks "+str(find_days)+"days")

elif(days<=365):
  find_weeks= days/7
  find_days= days%7
  print("0"+"years "+str(int(find_weeks))+"weeks "+str(find_days)+"days")

1329
3years 33weeks 3days

next topic loops.

In [ ]:
a=2
b=1
while(b<=5):
  print(a*b)
  b=b+1

2
4
6
8
10

In [ ]:
n=int(input("enter the number"))
i=0
while i<n:
  print("owes")
  i=i+1

enter the number5
owes
owes
owes
owes
owes

In [ ]:
a=int(input())
i=0
while (i<a):
  print("0")
  i=i+1

12
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
n=int(input())
i=1
while(i<=n):
  print(i)
  i=i+1

5
1
2
3
4
5

In [ ]:
table=int(input())
i=1
while(i<=10):
  print(i)
  i=i+1

1
1
2
3
4
5
6
7
8
9
10

In [ ]:
inputs_count=int(input())
i=0
while(i<inputs_count):
  m=int(input())
  i=i+1

3
30
40
50

In [ ]:
input_count=int(input())
i=0
while(i<a):
  print(m)
  i=i+1

1
50
50
50

In [ ]:
a=5
i=1
sum=0
while(i<6):
  sum=sum+i
  i=i+1
  print(sum)

1
3
6
10
15

In [ ]:
a=int(input())
i=1
sum=0
while(i<a):
  sum=sum+i
i=i+1
print(sum)

1
0

In [ ]:
number=int(input())
sum=(number *(number+1))/2
print(int(sum))

20
210

In [ ]:
n=2
m=10
while(n<m):
  print(n)
  n=n+1

2
3
4
5
6
7
8
9

In [ ]:
n=int(input())
m=int(input())

sum=0
while(n<=m):
  sum=sum+n
  n=n+1
  print(sum)

1
5
1
3
6
10
15

In [ ]:
starting_pos = int(input())
eding_pos = starting_pos+10
while (starting_pos <= ending_pos):
    starting_pos = starting_pos+1
    print(starting_pos)

3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
n=int(input())
sum=0
for i in range(n):
  sum=sum+i
  print(sum)

5
0
1
3
6
10

In [ ]:
a="owes"
b=len(a)
for i in range (b):
  print(a[0])

o
o
o
o

In [ ]:
a=int(input("enter the number"))
p=1
for i in range(1,a+1):
  m=int(input("enter the number"))
  p=p*m
  print(p)

enter the number3
enter the number2
2
enter the number3
6
enter the number7
42

In [ ]:
n=int(input())
m=int(input())
total=0
for i in range(n,m+1):
  if (i%2==0):
    total=total+1
    print(total)

2
5
1
2

In [ ]:
n=int(input())
m=int(input())
even=0
odd=0

for i in range(n,m):
  if (i%2==0):
    even=even+1
else:
  odd=odd+1
  print("Total even number is: ")
  print("Total odd number is: ")

2
11
Total even number is:
Total odd number is:

In [ ]:
print("*")
print("* *")
print("* * *")
print("* * * *")

*
* *
* * *
* * * *

In [ ]:
n=5
for i in range(n):
  print(i* "* ")

*
* *
* * *
* * * *

In [ ]:
n=4
for i in range(n):
  print(i* "* ")

*
* *
* * *

In [ ]:
11111111111111111111111111111111111111111111
def print_star_box(size):
  """Prints a square box of stars of the given size."""
  for i in range(size):
    if i == 0 or i == size - 1:
      # Print the top and bottom rows
      print("*" * size)
    else:
      # Print the middle rows with spaces inside
      print("*" + " " * (size - 2) + "*")

# Get the size of the box from the user
box_size = int(input("Enter the size of the star box: "))

# Print the star box
print_star_box(box_size)

Enter the size of the star box: 12
************
*          *
*          *
*          *
*          *
*          *
*          *
*          *
*          *
*          *
*          *
************

In [ ]:
n=int(input("enter the number"))

for i in range(1,n+1):
    print(str(i)*i)

for i in range(1,n+1):
    print(str(i)*i)

enter the number4
1
22
333
4444
1
22
333
4444

day 5 start

In [ ]:
m = int(input("Enter the number of rows (m): "))
n = int(input("Enter the number of columns (n): "))

for i in range(m):
  for j in range(n):
    print(j + 1, end=" ")
  print()

Enter the number of rows (m): 2
Enter the number of columns (n): 3
1 2 3
1 2 3

In [ ]:
m =10
n =5

for i in range(m):
  for j in range(n):
    print(j + 1, end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
n=int(input("enter the number"))
for i in range(n+1):
  print(i)

enter the number10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
n=int(input("enter the number="))
sum=0
for i in range (0,n):
  m=int(input("users input="))
  sum=sum+m
  avg=sum/n
  print(avg)

enter the number=4
users input=3
0.75
users input=4
1.75
users input=6
3.25
users input=7
5.0

In [ ]:
n=int(input())
for i in range(1,n+1):
   print(" * "*i)
for i in range(1,n+1):
  print(" * "*i)

4
 *
 *  *
 *  *  *
 *  *  *  *
 *
 *  *
 *  *  *
 *  *  *  *

In [ ]:
m = 5
n = 7
product = 1
for i in range(m, n + 1):
  product *= i

print("The product of numbers from", m, "to", n, "is:", product)

The product of numbers from 5 to 7 is: 210

In [ ]:
a=5
b=10
p=1
for num in range(a,b):
  p=p*num
  print(p)

5
30
210
1680
15120

In [ ]:
number = int(input()) #15467
c_s = str(number)
sum = 0
for i in range(len(c_s)):
  sum = sum + int(c_s[i])
  print(sum)
#what is the output

15467
1
6
10
16
23

In [ ]:
number= int(input()) #151893
c_S = str(number)

sum = 0
for digit in c_S:
  sum += int(digit)
print(sum)
#what is the output

151893
27

In [ ]:
n = int(input("Enter a number: "))
factorial = 1

if n < 0:
   print(" negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

In [ ]:
a="owes"
for char in a:
  print(char)

o
w
e
s

In [ ]:
a="owes"
b=" "
for char in a :
  b=char+b
  print(b)

o
wo
ewo
sewo

In [ ]:
number= int(input()) #692

c_S = str(number)

sum = 0
for digit in c_S:
  sum += int(digit)
print(sum)
#what is the output

692
17

In [ ]:
a=input()
print(a[::-1])

meri raa*d bulla
allub d*aar irem

In [ ]:
number=input() #1534

maximum_number=0
for num in number : #1
  convert_int=int(num)
if(convert_int > maximum_number):
  maximum_number=int(num)
  print(maximum_number)

1534
4

In [ ]:
a="waterfall"
part=a[1:6:3]
print(part)

ar

In [ ]:
mobile=" 9481261091"
mobile=mobile.strip()
print(mobile)

9481261091

In [ ]:
name="@owes"
name=name.strip("@")
print(name)

owes

In [ ]:
name=", .. ,,ali ,, .. ."
name= name.strip(" ,.")
print(name)

ali

In [ ]:
sentence= "teh cat and teh dog"
sentence= sentence.replace("teh","the")
print(sentence)

the cat and the dog

In [ ]:
gmai_id="rahul123@gmail.com"
is_gmail=gmai_id.endswith("@gmail.c")
print(is_gmail)

False

In [ ]:
name="ravi"
print(name.upper())

RAVI

In [ ]:
name="RAVI"
print(name.lower())

ravi

In [ ]:
a="kle bca"
find_index=a.index("bca")
print(find_index)

4

In [ ]:
count_e=a.count("e")
print(count_e)

1

In [ ]:
text= "coo coo"
word_index= text.find("ha")
print(word_index)

-1

In [ ]:
is_lower = "hello ravi!".islower()
print(is_lower)

True

In [ ]:
a="apple mango"
b=a.capitalize()
print(b)

Apple mango

In [ ]:
sentence="07-11-2020"
output=sentence.replace("-","/")
print(output)

07/11/2020

In [ ]:
name=input()
convert_lower =name.lower()
revers_string=""
for char in convert_lower:
  revers_string=char+revers_string
if convert_lower==revers_string:
    print("true")
else:
    print("false")

12321
true

Day-6

In [ ]:
for i in range(2):
  print("Outer: " + str(i))
  for j in range(2):
    print(" Inner:" + str(j))

Outer: 0
 Inner:0
 Inner:1
Outer: 1
 Inner:0
 Inner:1

In [ ]:
for num in range(2):
  print("loop itration number:"+str(num))
  a=0
  while(a<3):
    print("inner number :"+str(a))
    a=a+1

loop itration number:0
inner number :0
inner number :1
inner number :2
loop itration number:1
inner number :0
inner number :1
inner number :2

In [ ]:
a=10
print("loop itration number:"+str(num))
b=20
while(a>2):
  print("inner number :"+str(a))
  a=a-1

loop itration number:1
inner number :10
inner number :9
inner number :8
inner number :7
inner number :6
inner number :5
inner number :4
inner number :3

In [ ]:
for i in range(5):
  if i == 3:
   break
  print(i)
  print("END")

0
END
1
END
2
END

In [ ]:
for i in range(4):
  print("itration number:"+str(i))
  if i == 3:
   break
  print(i)
  print(" program ended")

itration number:0
0
 program ended
itration number:1
1
 program ended
itration number:2
2
 program ended
itration number:3

In [ ]:
for i in range(4):
  print("itration number:"+str(i))
  if i ==2:
   continue
  print(i)
  print(" program ended")

itration number:0
0
 program ended
itration number:1
1
 program ended
itration number:2
itration number:3
3
 program ended

In [ ]:
for i in range(4):
  if i== 2:
   pass
  else:
    print(i,end=" ")

0 1 3

In [ ]:
unicode_value=ord("A")
print(unicode_value)

65

In [ ]:
name=input()
for char in name:
  print(ord(char))

Darshan
68
97
114
115
104
97
110

In [ ]:
name=input()
for char in name:
  print(char)

Darshan
D
a
r
s
h
a
n

In [ ]:
a="vasu"
sum=0
for char in a:
  value=ord(char)
  sum=sum+value
  print(sum)

118
215
330
447

In [42]:
def count_chars_with_unicode(s, n):
  count = 0
  for char in s:
    if ord(char) == n:
      count += 1
  return count

# Get input from the user
input_string = input("Enter a string: ")
target_unicode = int(input("Enter a number (Unicode value): "))

# Call the function and print the result
result = count_chars_with_unicode(input_string, target_unicode)
print(f"The number of characters with Unicode value {target_unicode} is: {result}")

Enter a string: 20
Enter a number (Unicode value): 20
The number of characters with Unicode value 20 is: 0

In [50]:
a="Google"
b=111
sum=0
for char in a:
  value=ord(char)
  sum=sum+value
  print(sum)

71
182
293
396
504
605